@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis&family=Montserrat:wght@500&family=Oswald&family=PT+Serif&family=Roboto:wght@500&family=Rubik&display=swap');


/*
font-family: 'DM Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/
:root{
    --main-color:#4B5A67;
    --black:#13131a;
    --bg:#EFF5FA;
    --border: .1rem solid rgba(247, 238, 238, 0.171);
    --section-border: .3rem solid rgba(216, 199, 199, 0.3);
    }
    html{
        font-family: 'DM Sans', sans-serif;
        transition: .3s;
    }
    html::-webkit-scrollbar{
        width: .8rem;
    }
    html::-webkit-scrollbar-track{
        background: transparent;
    }
    html::-webkit-scrollbar-thumb{
        background: #fff;
        border-radius: 5rem;
    }
body{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background: var(--bg);
}
h3{
        font-size: 4rem;
}
section{
    margin-left: 13rem;
    padding: 1.5rem;
}
.btn{
    text-decoration: none;
    background-color: var(--bg);
    text-transform: uppercase;
    margin-top: 1rem;
    display: inline;
    padding: .7rem 3rem;
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    border-radius: 2rem;
    transition: .3s;
}
.btn:hover{
    font-size: 1.7rem;
    background-color: var(--bg);
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: var(--black);
    border-radius: 2rem;
}
span{
    color: var(--main-color);
}
.header{
    position: relative;
    height: 100%;
    width: 13rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: space-between;
}
.header .profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
 }
.header .navbar a{
    text-align: center;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: .3rem;
    font-size: 1.2rem;
    color: #fff;
}
.header .navbar a:hover{
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 30px 0 rgba(0,0,0,0.19);
    padding: 1rem 1rem;
    border: #4B5A67;
    border-radius: 1rem;
    font-size: 1.4rem;
    background-color: #EFF5FA;
    transition: .3s;
    color: var(--black);
}
.header .socmed{
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    text-align: center;
}
.header .socmed a{
    padding: 1.5rem 2.8rem;
    text-decoration: none;
    color: #EFF5FA;
}
.header .socmed a:hover{
    background-color: #EFF5FA;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 12px 20px 0 rgba(0,0,0,0.19);
    border-radius: 1rem;
    transition: .5s;
    border-bottom: .4rem solid var(--border);
    color: var(--black);
}
/*HOME*//*HOME*//*HOME*//*HOME*//*HOME*/
.home {
}
.home .content p{
    font-size: 2.5rem;
}
/*about*//*about*//*about*//*about*//*about*//*about*/
.about{
    justify-content: flex-start;
}
.about h4{
    font-size: 1.5rem;
    text-align: center;
}
.about p{
    font-size: 1.5rem;
}
.about .dl a{
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem 1rem;
    border: var(--border);
    color: var(--black);
    border-radius: 3rem;
}
.about .dl a:hover{
    color: #fff;
    border: #13131a;
    border-radius: 2rem;
    background-color:  var(--main-color);
}
/*project*//*project*//*project*//*project*//*project*/
.project .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap:1.5rem;
}

.project .box-container .box{
    transition: .3s;
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: var(--main-color);
    border:var(--border);
}

.project .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.project .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.project .box-container .box:hover .image img{
    transform: scale(1.2);
}

.project .box-container .box .content{
    padding:2rem;
}

.project .box-container .box .content .title{
    color: var(--bg);
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 1.5;
}

.project .box-container .box .content .title:hover{
    font-size: 2.8rem;
    color: #fff;
}

.project .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.project .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #fff;
    padding:1rem 0;
}
/*contact*//*contact*//*contact*//*contact*//*contact*/
.contact .row{
    display: flex;
    background:var(--main-color);
    flex-wrap: wrap;
}
.contact .row form{
    flex:1 1 45rem;
    padding:1rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:var(--black);
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}
.contact .row form .inputBox span{
    color:var(--main-color);
    font-size: 2rem;
    padding-left: 2rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact .row form .inputBox input{
    width: 100%;
    border: var(--black);
    padding:2rem;
    font-size: 1.7rem;
    color:var(--black);
    text-transform: none;
    background:none;
}
.contact .row form h3{
    color: var(--bg);
}
.contact .row form .btn{
    background-color: var(--bg);
}
.page{
    font-size: 3rem;
}




/*FOR SIZE*//*FOR SIZE*//*FOR SIZE*//*FOR SIZE*//*FOR SIZE*//*FOR SIZE*/
@media screen and (max-width: 700px) {
    html{
        font-size: 80%;
    }
    .header {
        width: 100%;
        height: auto;
        position: relative;
    }
    .header .profile img{
        display: none;
    }
    .header .navbar a {
        justify-content: center;
        text-align: center;
    }
    section {
        margin-left: 0;
    }
    .header .socmed{
        display: none;
    }
}
  
@media screen and (max-width: 400px) {
    .header .navbar a {
      text-align: center;
      float: none;
    }
    .header .socmed ul{
        display: none;;
    }
  }